# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# macOS metadata
.DS_Store

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# Logs
*.log

# Flask cache / uploads
instance/
*.sqlite3

# Coverage and testing
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# SocketIO session data (if stored locally)
*.sock

#database
main.db